@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="chartElement" style="width:800px;height:600px;"></div>
<script>
    fetch("api/policy")
        .then(response => response.json())
        .then(apiData => {

            const traces = apiData.slice(0, 5).map(d => ({
                x: d.agreements,
                type: 'histogram',
                name: d.party
            }));

            const layout = {barmode: "stack"};
            Plotly.newPlot('chartElement', traces, layout);
        });
</script>
