@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Policies</h1>
</div>

<div id="chartElement" style="width:800px;height:600px;"></div>

<h2>All policies</h2>
<ul>
    @foreach (var policy in Model.Policies)
    {
        <li onclick="loadPolicy(@policy.id)">@policy.name</li>
    }
</ul>

<script>
    function loadPolicy(id) {
        fetch(`api/policy/${id}`)
            .then(response => response.json())
            .then(apiData => {

                const traces = apiData.slice(0, 5).map(d => ({
                    x: d.agreements,
                    type: 'histogram',
                    name: d.party
                }));

                const layout = {barmode: "stack"};
                Plotly.newPlot('chartElement', traces, layout);
            });
    }
</script>
