@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script> *@
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <canvas id="myChart" width="400" height="400"></canvas> *@
<div id="chartElement" style="width:600px;height:250px;"></div>
<script>
    fetch("api/policy")
        .then(response => response.json())
        .then(apiData => {

            var trace = {
                x: apiData[0].agreements,
                type: 'histogram',
            };

            var data = [trace];
            Plotly.newPlot('chartElement', data);
        });
</script>
