@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>What does the Australian federal government do?</h1>

<p><a asp-page="/Policies">Policies</a>: votes by MPs, grouped by policy areas.</p>

<a href="https://www.aph.gov.au/bills/">Bills</a>
