@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

<div class="text-center">
    <h1 id="policyTitle" class="display-4">Policies</h1>
    <p id="policyDescription"></p>
</div>

<h2>All policies</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var policy in Model.Policies)
    {
        <tr>
            <th scope="row"><a href="PartyPolicyStance/@policy.id">@policy.name</a></th>
        </tr>
    }
    </tbody>
</table>
<ul>
    
</ul>
